.bg__jugadores{
    width: 100%;
    height: 100vh;
    background-image:
    linear-gradient(rgba(5, 7, 12, 0.70), rgba(5, 7, 12, 0.70)),
    url(../images/bg-jugadores.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include center-flex();
    div{
        @include center-flex();

        h1{
            font-size: 600%;
            font-family: $txt-titulos;
            color: $c-hover-header;
        }
    }
}

@media screen and (max-width: 991px){
    .bg__jugadores{
        width: 100%;
        height: 100vh;
        background-image:
        linear-gradient(rgba(5, 7, 12, 0.70), rgba(5, 7, 12, 0.70)),
        url(../images/bg-jugadoresmb.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        @include center-flex();
        div{
            @include center-flex();
    
            h1{
                font-size: 300%;
                font-family: $txt-titulos;
                color: $c-hover-header;
            }
        }
    }
}

#section__jugadores{
@include bordes-dorados();
@include center-flex();
padding: 50px 50px 50px 50px;
    div{
        width: 1140px;
        div{
            div{
                width: 16.5rem;
                margin: 10px 10px 10px 10px;
                padding: 10px 10px 10px 10px;
                border-top: solid 1px $c-hover-header;
                border-bottom: solid 1px $c-hover-header;
                border-left: solid 1px $c-hover-header;
                border-right: solid 1px $c-hover-header;
                &:hover{
                    transform: scale(1.1);
                }
                img{
                    width: 240px;
                    height: 180px;
                    border-radius: 5px;
                    @include bordes-dorados();
                }
                div{
                    width: 215px;
                    height: 90px;
                    border-radius: 5px;
                    h2{
                        color: $c-hover-header;
                        font-family: $txt-titulos;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1240px){
#section__jugadores{
    @include bordes-dorados();
    @include center-flex();
        div{
            width: 876px;
            div{
                div{
                    width: 17rem;
                    margin: 10px 10px 10px 10px;
                    padding: 10px 10px 10px 10px;
                    img{
                        width: 240px;
                        height: 180px;
                        border-radius: 5px;
                        @include bordes-dorados();
                    }
                    div{
                        width: 215px;
                        height: 85px;
                        border-radius: 5px;
                        h2{
                            color: $c-hover-header;
                            font-family: $txt-titulos;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px){
#section__jugadores{
    @include bordes-dorados();
    @include center-flex();
        div{
            width: 616px;
            div{
                div{
                    width: 18rem;
                    margin: 10px 10px 10px 10px;
                    padding: 10px 10px 10px 10px;
                    img{
                        width: 240px;
                        height: 180px;
                        border-radius: 5px;
                        @include bordes-dorados();
                    }
                    div{
                        width: 215px;
                        height: 85px;
                        border-radius: 5px;
                        h2{
                            color: $c-hover-header;
                            font-family: $txt-titulos;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
#section__jugadores{
    @include bordes-dorados();
    @include center-flex();
        div{
            @include center-flex();
            width: 100%;
            div{
                div{
                    width: 18rem;
                    margin: 10px 10px 10px 10px;
                    padding: 10px 10px 10px 10px;
                    img{
                        width: 240px;
                        height: 180px;
                        border-radius: 5px;
                        @include bordes-dorados();
                    }
                    div{
                        width: 215px;
                        height: 85px;
                        border-radius: 5px;
                        h2{
                            color: $c-hover-header;
                            font-family: $txt-titulos;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 360px){
#section__jugadores{
    @include bordes-dorados();
    @include center-flex();
        div{
            @include center-flex();
            width: 100%;
            div{
                div{
                    width: 14rem;
                    padding: 10px 10px 10px 10px;
                    img{
                        width: 100%;
                        height: 180px;
                        border-radius: 5px;
                        @include bordes-dorados();
                    }
                    div{
                        width: 215px;
                        height: 85px;
                        border-radius: 5px;
                        h2{
                            color: $c-hover-header;
                            font-family: $txt-titulos;
                        }
                    }
                }
            }
        }
    }
}