.bg__partidos{
    width: 100%;
    height: 100vh;
    background-image:
    linear-gradient(rgba(5, 7, 12, 0.70), rgba(5, 7, 12, 0.70)),
    url(../images/bg-partidos.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include center-flex();
    div{
        @include center-flex();

        h1{
            font-size: 600%;
            font-family: $txt-titulos;
            color: $c-hover-header;
        }
    }
}

@media screen and (max-width: 991px){
    .bg__partidos{
        width: 100%;
        height: 100vh;
        background-image:
        linear-gradient(rgba(5, 7, 12, 0.70), rgba(5, 7, 12, 0.70)),
        url(../images/bg-partidosmb.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        @include center-flex();
        div{
            @include center-flex();
    
            h1{
                font-size: 600%;
                font-family: $txt-titulos;
                color: $c-hover-header;
            }
        }
    }
}

.section__partidos1{
    width: 100%;
    height: 100vh;
    background-image:
    linear-gradient(rgba(5, 7, 12, 0.70), rgba(5, 7, 12, 0.70)),
    url(../images/argentinavmexico.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include center-flex();

    h2{
        color: white;
    }
    h3{
        color: $c-hover-header;
    }
}

.section__partidos2{
    width: 100%;
    height: 100vh;
    background-image:
    linear-gradient(rgba(5, 7, 12, 0.70), rgba(5, 7, 12, 0.70)),
    url(../images/argentina-y-polonia.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include center-flex();

    h2{
        color: white;
    }
    h3{
        color: $c-hover-header;
    }
}