.bg__titulos{
    width: 100%;
    height: 100vh;
    background-image:
    linear-gradient(rgba(5, 7, 12, 0.70), rgba(5, 7, 12, 0.70)),
    url(../images/bg-titulos.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include center-flex();
    div{
        @include center-flex();

        h1{
            font-size: 600%;
            font-family: $txt-titulos;
            color: $c-hover-header;
        }
    }
}

@media screen and (max-width: 991px){
    .bg__titulos{
        width: 100%;
        height: 100vh;
        background-image:
        linear-gradient(rgba(5, 7, 12, 0.70), rgba(5, 7, 12, 0.70)),
        url(../images/bg-titulosmb.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        @include center-flex();
        div{
            @include center-flex();
    
            h1{
                font-size: 600%;
                font-family: $txt-titulos;
                color: $c-hover-header;
            }
        }
    }
}

#section__titulos{
    width: 100%;
    height: 800px;
    @include center-flex();
    background-image:
    linear-gradient(rgba(5, 7, 12, 0.80), rgba(5, 7, 12, 0.80)),
    url(../images/fondo-afa.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    div{
        div{
            div{
                @include center-flex();
                div{
                    margin: 10px 10px 10px 10px;
                    img{
                        width: 100%;
                        height: 200px;
                    }

                    div{
                        p{
                            color: $c-hover-header;
                            font-family: $txt-titulos;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px){
    #section__titulos{
        width: 100%;
        height: 900px;
        @include center-flex();
        background-image:
        linear-gradient(rgba(5, 7, 12, 0.80), rgba(5, 7, 12, 0.80)),
        url(../images/fondo-afa.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        div{
            div{
                div{
                    @include center-flex();
                    div{
                        margin: 10px 10px 10px 10px;
                        img{
                            width: 100%;
                            height: 200px;
                        }
    
                        div{
                            p{
                                color: $c-hover-header;
                                font-family: $txt-titulos;
                            }
                        }
                    }
                }
            }
        }
    }
}